{% extends "base.html" %}

{% load static %}

{% block addons %}
    <meta name="description" content="JKW Woodworks goal is to provide quality handmade projects that can be handed down from generation to generation.">
    <meta name="author" content="JKW Woodworks Team">
{% endblock %}

{% block content %}
    <section>
        <div class="bg-white py-4 px-3 mb-3 border border-light rounded-xl shadow">
            <h1 class="text-center">About JKW Woodworks</h1>
            <p>
                JKW Woodworks goal is to provide quality handmade projects
                that can be handed down from generation to generation. JKW
                Woodworks started out as a simply hobby. We were tired of
                goods and products from foreign countries that would break
                soon after purchase. We wanted sturdy, hand crafted goods
                that would stand the test of time. That is our number one
                priority when designing and creating wood projects. 
            </p>
        </div>
        <img class="img-thumbnail my-3 shadow" src="{% static "main_site/img/flag1-tmb.jpeg" %}" alt="Flag on workbench">
        <p class="bg-white py-4 px-3 border border-light rounded-xl shadow">
            One of signature projects is the American Flag. We make
            standard American Flags, Thin Blue Line Flags, Thin Red Line
            Flags, Thin Green Line Flags, and many more for every
            occupation. Each flag has a meaning and sends a message of
            support to our first responders and military. We have two
            sizes that work for any occasion. The small American Flag
            is perfect for offices and work spaces. The large flag is a
            master piece that can be place on the wall like any other
            painting. These flags can make a simple yet profound
            statement that shows your support and love of the country.
        </p>
        <img class="img-thumbnail my-3 shadow" src="{% static "main_site/img/flag2-tmb.jpeg" %}" alt="Set of Flags">
        <p class="bg-white py-4 px-3 border border-light rounded-xl shadow">
            Another signature project of ours is the epoxy tables. These
            tables range in all sizes from small end tables to large
            coffee and dining tables. Because of the epoxy, different
            colors and designs are endless and each table is unique.
            These tables take time to make due to the curing process of
            the epoxy but will last a life time. After we saw different
            epoxy projects on social media, we decided to give it a shot.
            And we nailed it! Epoxy can be tricky and expensive but when
            done right, it creates a strong, naturally beautiful piece
            of art that is very durable and will make a statement. 
        </p>
        <img class="img-thumbnail my-3 shadow" src="{% static "main_site/img/table1-tmb.jpeg" %}" alt="A flag and table">
        <p class="bg-white py-4 px-3 border border-light rounded-xl shadow">
            We work with all sorts of different lumber ranging from pine
            or dimensional lumber to cedar, cherry, and walnut. Each
            piece is unique and made to the customers desires. 
        </p>
        <img class="img-thumbnail my-3 shadow" src="{% static "main_site/img/table2-tmb.jpeg" %}" alt="A wooden table">
        <p class="bg-white py-4 px-3 border border-light rounded-xl shadow">
            We have many different plans and designs for more projects.
            We are constantly improving our designs and the way we
            construct items so the best possible piece is created every
            time. Feel free to contact us about any ideas or questions
            you may have. We are always looking for feedback and new
            ideas that will help us improve. We enjoy making great wood
            projects and hope you find joy in our work as well.
        </p>
        <img class="img-thumbnail my-3 shadow" src="{% static "main_site/img/table3-tmb.jpeg" %}" alt="A flag table">
        <p class="bg-white py-4 px-3 border border-light rounded-xl shadow">
            - JKW Woodworks Team
        </p>
    </section>
    <section class="bg-white py-4 px-3 mb-3 border border-light rounded-xl shadow">
        <h4 class="text-center">Sources and Credits</h4>
        <p>
            This website is powered by <a href="https://www.djangoproject.com/">Python Django</a>.
        </p>
        <p>
            This website runs off of the <a href="https://gunicorn.org/">Gunicorn Web Server</a>.
        </p>
        <p>
            Background by Joshua J. Coltten.
        </p>
    </section>
{% endblock %}