{% extends "base.html" %}

{% load static %}

{% block content %}
<section class="bg-white py-4 px-3 border border-light rounded-xl shadow">
    <h1 class="text-center">Form Submitted</h1>
    <p>
        Thank you! We will get back to you as soon as we can. If you
        have any other questions or concerns about another product, feel
        free to use the form again.
    </p>
    <p>
        You can also email us a <a href="mailto:jkwwoodworks1@gmail.com">jkwwoodworks1@gmail.com</a>.
    </p>
</section>
{% endblock %}