{% extends "base.html" %}

{% load static %}

{% block addons %}{% endblock %}

{% block addLoad %}{% endblock %}

{% block content %}
    <section class="bg-white py-4 px-3 border border-light rounded-xl shadow">
        <h1 class="text-center">JKW Wood Works</h1>
        <p>
            Welcome to JKW Wood Works, our goal is to provide
            quality handmade furniture goods that will last
            for years.
        </p>
    </section>
    <section class="bg-white mt-4 py-4 px-3 border border-light rounded-xl shadow">
        <h2 class="text-center">The Latest Product</h2>
        <div class="card text-center">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    {% for image in product.images.all %}
                    {% if forloop.counter == 1 %}
                    <div class="carousel-item active"><img class="card-img-top" src="{{ image.image.url }}" alt="{{ image.image_title }}"></div>
                    {% else %}
                    <div class="carousel-item"><img class="card-img-top" src="{{ image.image.url }}" alt="{{ image.image_title }}"></div>
                    {% endif %}
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ product.title }}</h5>
                <p class="card-text">{{ product.description }}</p>
                <a href="{% url "project-details" product.slug %}" class="btn btn-primary">Check it out</a>
            </div>
        </div>
    </section>
    <section class="bg-white mt-4 py-4 px-3 border border-light rounded-xl shadow">
        <h3 class="text-center">Site Navigation</h3>
        <p>
            Here are some other links for this website. All links
            below are shown in the menu bar.
        </p>
        <ul>
            <li>
                <a href="/products">Products:</a> See the complete list of
                woods products that being offered.
            </li>
            <li>
                <a href="{% url "contact-page" %}">Contact:</a> Go here to see us some feedback
                either on this website or the products sold here.
            </li>
            <li>
                <a href="{% url "about-page" %}">About:</a> More information about us.
            </li>
        </ul>
    </section>
{% endblock %}