{% extends "base.html" %}

{% block content %}
    <section class="bg-white py-4 px-3 border border-light rounded-xl shadow">
        <h1 class="text-center">{{ title }}</h1>
        <div class="container-fluid mt-3">
            <div class="row">
            {% for product in products %}
            {% if forloop.counter|divisibleby:2 %}
                <div class="col-md-6">
                    <div class="card text-center m-2 shadow">
                        {% with product.images.all|first as image %}
                        <img class="card-img-top" src="{{ image.image.url }}" alt="{{ image.image_title }}">
                        {% endwith %}
                        <h6 class="card-title pt-3">{{ product.title }}</h6>
                        <p class="card-text">{{ product.base_price }}</p>
                        <a href="{% url "product-details" product.slug %}" class="btn btn-primary">Details</a>
                    </div>
                </div>
            </div>
            {% if not forloop.last %}
            <div class="row">
            {% endif %}
            {% else %}
                <div class="col-md-6">
                    <div class="card text-center m-2 shadow">
                        {% with product.images.all|first as image %}
                        <img class="card-img-top" src="{{ image.image.url }}" alt="{{ image.image_title }}">
                        {% endwith %}
                        <h6 class="card-title pt-3">{{ product.title }}</h6>
                        <p class="card-text">{{ product.base_price }}</p>
                        <a href="{% url "product-details" product.slug %}" class="btn btn-primary">Details</a>
                    </div>
                </div>
            {% endif %}
            {% endfor %}
        </div>
    </section>
{% endblock %}