<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <p>
            Hello {{ full_name }},<br>
            We have received your request and we will try to get
            back to you as soon as we can. Feel free to message
            us again if you have any other questions or concerns.
        </p>
        <p>
            <img src="https://jkwwoodworks.com/static/main_site/img/Logo.png" alt="JKW Wood Works Logo">
            - JKW Wood Works<br>
            <a href="mailto:jkwwoodworks1@gmail.com">jkwwoodworks1@gmail.com</a>
        </p>
    </body>
</html>