{% load static %}

<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block main-title %}{{ title }} - JKW Wood Works{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="{% static "main_site/img/favicon.png" %}">
    <link href="{% static "main_site/css/bootstrap.min.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static "main_site/css/style.min.css" %}">
    {% block addons %}{% endblock %}
</head>
<body>
    <nav class="navbar navbar-dark navbar-expand-lg header">
        <div class="container-fluid">
            <div class="navbar-brand">
                <a class="text-decoration-none" href="{% url "index-page" %}">
                    <img class="img-thumbnail" src="{% static "main_site/img/Logo.png" %}" width="50" height="50" alt="Logo">
                    <span class="h4 text-white">JKW Wood Works</span>
                </a>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav navbar-right me-auto mb-2 mb-lg-0 px-3">
                <li class="nav-item"><a class="{% if '/home' in path %}active{% endif %} nav-link" href="{% url "index-page" %}">Home</a></li>
                <li class="nav-item"><a class="{% if '/products' in path %}active{% endif %} nav-link" href="{% url "product-list" %}">Products</a></li>
                <li class="nav-item"><a class="{% if '/plans' in path %}active{% endif %} nav-link" href="{% url "plan-list" %}">Plans</a></li>
                <li class="nav-item"><a class="{% if '/videos' in path %}active{% endif %} nav-link" href="{% url "video-list" %}">Videos</a></li>
                <li class="nav-item"><a class="{% if '/contact' in path %}active{% endif %} nav-link" href="{% url "contact-page" %}">Contact</a></li>
                <li class="nav-item"><a class="{% if '/about' in path %}active{% endif %} nav-link" href="{% url "about-page" %}">About</a></li>
            </ul>
        </div>
    </nav>
    <main class="p-3 mx-auto" style="max-width: 900px;">
        {% block content %}{% endblock %}
    </main>
    <footer class="p-3 text-center d-flex justify-content-center text-white" style="align-items: baseline;">
        <p class="align-middle">&copy;2022 | JKW Wood Works</p>
        <a class="p-2" href="https://www.facebook.com/profile.php?id=100076510699459"><img src="{% static "main_site/img/facebook.png" %}" alt="Facebook Page" width="50" height="50"></a>
        <a href="https://jkwwoodworks.etsy.com"><img src="{% static "main_site/img/etsy-custom-tmb.png" %}" alt="Etsy Page" width="50" height="50"></a>
        <a class="p-2" href="https://twitter.com/JKWWoodWorks"><img src="{% static "main_site/img/twitter-tmb.png" %}" alt="Twitter Page"></a>
        <a href="https://www.youtube.com/channel/UCnNm0AmiUPvcg2NtWiBli6w"><img src="{% static "main_site/img/youtube-tmb.png" %}" alt="YouTube Page" width="50" height="50"></a>
    </footer>
    <script src="{% static "main_site/js/bootstrap.bundle.min.js" %}"></script>
    {% block addLoad %}{% endblock %}
</body>
</html>