body {
    background-image: url("/static/main_site/img/background1-tmb.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: #EEE;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

.header, footer {
    background: #855e42; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom right, rgba(133, 94, 66, 1), rgba(196, 138, 100, 1)); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom right, rgba(133, 94, 66, 1), rgba(196, 138, 100, 1)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.nav-link, .nav-link:visited {
    color: white;
}

.rounded-xl {
    border-radius: 15px;
}

.active {
    color: gold !important;
}

.carousel-control-prev, .carousel-control-next {
    background-color: rgba(0, 0, 0, 0.2);
}

/* New styles to replace inline styles */
.main-content {
    max-width: 900px;
}

.footer-align {
    align-items: baseline;
}

.carousel-container {
    max-width: 80%;
}

/* Prevent resizing of textboxes in contact form */
textarea, .form-control {
    resize: none !important;
}